.social-media-links{
    font-size: 1.3em;
}
/*.back-arrow{
    background: #222 !important;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.back-arrow-div{
    position: fixed;
	z-index: 1;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(50%, -50%);
	transform: translateY(-50%);
	right: 0;
  	left: 5%;
  	width: 50px;
  	height: 50px;
}*/
.icon-bar {
	position: fixed;
	z-index: 1;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(50%, -50%);
	transform: translateY(-50%);
	right: 0;
  	left: auto;
}

@media (max-width: 767px) {
	.back-arrow-div {
        -webkit-transform: translate(-95%, 75%);
        -ms-transform: translateY(-95%, 75%);
        transform: translate(-95%, 75%);
    }
    .icon-bar {
        -webkit-transform: translate(35%, 75%);
        -ms-transform: translateY(35%, 75%);
        transform: translate(35%, 75%);
    }
}

.icon-bar a {
	width: 2.4rem;
    height: 2.4rem;
	border-radius: 50%;
	display: block;
	text-align: center;
	padding: 5px;
	transition: all 0.3s ease;
	color: white;
	font-size: 20px;
}

.icon-bar a:nth-child(1) {
    background: radial-gradient(circle at 25% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%)
}

.icon-bar a:nth-child(2) {
	background-color: #26D367;
	margin-top: 5px;
}

.icon-bar a:hover {
    background-color: #000;
}

.icon-bar i {
    color: #fff;
    top: 21px;
    left: 21px;
    transition: all 265ms ease-out;
}

.icon-bar a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: linear-gradient(45deg, #00B5F5, #002A8F);
    transition: all 265ms ease-out;
}
.icon-bar a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}
.icon-bar a:hover i {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    color: #00B5F5;
    background: -webkit-linear-gradient(45deg, #00B5F5, #002A8F);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}