<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


    <title>Class Coverage</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{% static 'css/classCoverage.css' %}">
    <link rel="stylesheet" href="{% static 'css/socialLinks.css' %}">
</head>
<body>
<section class="first-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h2>Welcome To Yogshalaa</h2>
                    <div class="line-dec"></div>
                    <span>Class Coverage</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="second-section" id="Morning-Energizing-Flow">
    <h2 style="text-align: center">Morning Energizing Flow</h2>
    <div class="container" style="padding: 50px;">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        {% load static %}
                        <img src="{% static 'img/strength.jpg' %}" alt="">
                    </div>
                    <h4>Building Strength</h4>
                    <p>Yoga excels at using your body weight to make you stronger and increase your muscle tone.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="{% static 'img/stress_mgmt.jpg' %}" alt="">
                    </div>
                    <h4>Stress Management</h4>
                    <p>Yoga reduces stress and anxiety by encouraging oxygen uptake and promoting mental and physical
                        relaxation.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="{% static 'img/better_sleep.png' %}" alt="">
                    </div>
                    <h4>Promote better sleep</h4>
                    <p>Yoga poses with deep breathing and meditation helps in practicing mindfulness which results in
                        better sleep.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="{% static 'img/flexibility.png' %}" alt="">
                    </div>
                    <h4>Flexibility</h4>
                    <p>Yoga increases flexibility by stretching muscles and joints within the body.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="third-section" id="Personalized-Sessions">
    <h2 style="text-align: center; color: #fff;">Personalized lessons (targeted towards):</h2>
    <div class="container" style="padding: 50px;">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <h4>PCOD/PCOS</h4>
                    <p>Mindful Yoga with awareness of posture and breathing can help in managing hormonal balance and
                        PCOD/PCOS.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <h4>Weight Management</h4>
                    <p>Yoga is a promising way for weight maintenance by burning calories, increasing mindfulness and
                        reducing stress.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <h4>Meditation & Mantra Chanting</h4>
                    <p>Regulated Meditation & Mantra Chanting can inculcate a sense of calm, self-awareness and a
                        positive outlook in an individual.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <h4>Senior Citizen & Kids Yoga</h4>
                    <p>With numerous advantages including improved concentration, awareness and focus, we provide
                        customized Yoga lessons for both senior citizens and kids.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fourth-section" id="Weekend-Flow">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div>
                    <h4><em style="font-size: 18px; font-weight: 600;">Weekend Flow</em><br></h4>
                    <p>Lessons available for:</p>
                    <ul>
                        <li>Mantra Chanting</li>
                        <li>Meditation</li>
                    </ul>
                </div>
                <div class="send-to-portfolio">
                    <span>Do you want to see more?</span>
                    <div class="primary-button">
                        <a href="{% url 'Gallery' %}">Visit gallery</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li><a href="https://instagram.com/yog_shalaa?igshid=YmMyMTA2M2Y=" target="_blank"><i
                            class="fa fa-instagram"></i></a></li>
                    <li><a href="https://wa.me/917023425271?text=Hello%20Yogshalaa%21%20I%20would%20like%20to%20know%20more%20
		about%20your%20services%2E" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                    <li>
                        <a href="{% url 'User Landing Page' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-house" viewBox="0 0 16 16">
                                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.min.js"></script>
</body>
</html>