<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yogshalaa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.green.min.css" integrity="sha512-C8Movfk6DU/H5PzarG0+Dv9MA9IZzvmQpO/3cIlGIflmtY3vIud07myMu4M/NTPJl8jmZtt/4mC9bAioMZBBdA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/intro-pic.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/review.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact_us.css' %}">
    <link rel="stylesheet" href="{% static 'css/socialLinks.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollTrigger.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="icon-bar">
		<a href="https://instagram.com/ln_infra?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fab fa-instagram social-media-links"></i></a>
		<a href="https://api.whatsapp.com/send/?phone=917741008919" target="_blank"><i class="fab fa-whatsapp social-media-links"></i></a>
</div>
<div class="navbar-container">
		<div class="logo">
			<a href="#" class="nav-logo"><img src="{% static 'images/Yogshalaa_logo.jpg' %}" alt="Bootstrap" width="60" height="48"></a>
		</div>
		<div class="menu-list">
			<ul class="nav-menu">
				<li>
                    <a href="#about_us" class="nav-link-dummy">About</a>
				</li>
			</ul>
			<ul class="nav-menu">
				<li>
                    <a href="{% url 'register' %}" class="nav-link-dummy">Products</a>
				</li>
			</ul>
			<ul class="nav-menu">
				<li>
                    <a href="#contact_us" class="nav-link-dummy">Contact Us</a>
				</li>
			</ul>
		</div>
	</div>
<div class="bg-image bg-image-height"></div>


<!--<div class="bg-text">-->
<!--    {% load static %}-->
<!--    <img class="intro-pic" src="{% static 'images/Chelsey.jpg' %}">-->
<!--  <h1>Experience the Healing Power of Yoga with Yogshalaa!</h1>-->
<!--  <p>Learn the subtle art of Yoga to feel the amazing change in your life.</p>-->
<!--    <p>Help me learn more about you by filling the following form</p>-->
<!--    <button><a href="https://formfaca.de/sm/Qq_X64okM">Click here!</a></button>-->
<!--</div>-->

<!--<div style="display: flex; justify-content: center; padding-top: 20px">-->
<!--    <script class="3d49bd6dd409fe0ae05239c697c14123"-->
<!--            src="https://w.promofeatures.com/js/timer/3d49bd6dd409fe0ae05239c697c14123.js?v=1683312139"></script>-->
<!--</div>-->
<b class="hr"></b>

<br><br>
<div id="about_us">
    <p>About Yogshalaa</p>
    <p>Yogshalaa is a Online Yoga Platform especially designed to indulge people around the Globe in practicing
        Yoga and Meditation- Whether if you are a busy mom looking for a quick Energy flow in the morning,
        or a beginner to brush up on the Basics of Yoga, or a traveler in a need to relax with a Yog Nidra.
        Whatever your level of Experience, Aspirations and Life Stage - We are here to create an Online Yoga Program for you.</p>

</div>
<b class="hr"></b>

<br><br>
<!--<div class="wrapper">-->
<!--&lt;!&ndash;      <div class="container1">&ndash;&gt;-->
<!--&lt;!&ndash;        <i class="fas fa-utensils"></i>&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="num" data-val="400">0</span>&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="text">Meals Delivered</span>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--      <div class="container1">-->
<!--        <i class="fas fa-smile-beam"></i>-->
<!--        <span class="num" data-val="86">0</span>-->
<!--        <span class="text">Happy Customers</span>-->
<!--      </div>-->
<!--      <div class="container1">-->
<!--        <i class="fas fa-list"></i>-->
<!--        <span class="num" data-val="3">0</span>-->
<!--        <span class="text">Programs offered</span>-->
<!--      </div>-->
<!--      <div class="container1">-->
<!--        <i class="fas fa-star"></i>-->
<!--        <span class="num" data-val="17">0</span>-->
<!--        <span class="text">Five Stars</span>-->
<!--      </div>-->
<!--</div>-->
    <!-- Script -->
{% load static %}
<script src="{% static 'js/script.js' %}"></script>

<div class="options">
    <div class="option active"
         style="--optionBackground:url(https://66.media.tumblr.com/6fb397d822f4f9f4596dff2085b18f2e/tumblr_nzsvb4p6xS1qho82wo1_1280.jpg);">
        <div class="shadow"></div>
        <div class="label">
            <div class="icon">
                <i class="fas fa-walking"></i>
            </div>
            <div class="info">
                <div class="main">Blonkisoaz</div>
                <div class="sub">Omuke trughte a otufta</div>
            </div>
        </div>
    </div>
    <div class="option"
         style="--optionBackground:url(https://66.media.tumblr.com/8b69cdde47aa952e4176b4200052abf4/tumblr_o51p7mFFF21qho82wo1_1280.jpg);">
        <div class="shadow"></div>
        <div class="label">
            <div class="icon">
                <i class="fas fa-snowflake"></i>
            </div>
            <div class="info">
                <div class="main">Oretemauw</div>
                <div class="sub">Omuke trughte a otufta</div>
            </div>
        </div>
    </div>
    <div class="option"
         style="--optionBackground:url(https://66.media.tumblr.com/5af3f8303456e376ceda1517553ba786/tumblr_o4986gakjh1qho82wo1_1280.jpg);">
        <div class="shadow"></div>
        <div class="label">
            <div class="icon">
                <i class="fas fa-tree"></i>
            </div>
            <div class="info">
                <div class="main">Iteresuselle</div>
                <div class="sub">Omuke trughte a otufta</div>
            </div>
        </div>
    </div>
    <div class="option"
         style="--optionBackground:url(https://66.media.tumblr.com/5516a22e0cdacaa85311ec3f8fd1e9ef/tumblr_o45jwvdsL11qho82wo1_1280.jpg);">
        <div class="shadow"></div>
        <div class="label">
            <div class="icon">
                <i class="fas fa-tint"></i>
            </div>
            <div class="info">
                <div class="main">Idiefe</div>
                <div class="sub">Omuke trughte a otufta</div>
            </div>
        </div>
    </div>
    <div class="option"
         style="--optionBackground:url(https://66.media.tumblr.com/f19901f50b79604839ca761cd6d74748/tumblr_o65rohhkQL1qho82wo1_1280.jpg);">
        <div class="shadow"></div>
        <div class="label">
            <div class="icon">
                <i class="fas fa-sun"></i>
            </div>
            <div class="info">
                <div class="main">Inatethi</div>
                <div class="sub">Omuke trughte a otufta</div>
            </div>
        </div>
    </div>
</div>
<b class="hr"></b>

<br><br>
<!--<div><form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Ln2iiY3wsolqGu" async> </script> </form></div>-->
<script src="{% static 'js/slit.js' %}"></script>
<section class="section-class">
        <div class="container">
            <h1 class="section-header">Client Review <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></h1>
            <div class="testimonials">
                {% load static %}
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="single-item">
                          <div class="row">
                              <div class="col-md-5">
                                  <div class="profile">
                                      <div class="img-area">
                                          <img src="{% static 'images/JJ_Profile.jpg' %}" alt="">
                                      </div>
                                      <div class="bio">
                                          <h2>Mitali Barai</h2>
                                          <h4>Morning Energized Flow</h4>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="content">
                                      <p><span><i class="fa fa-quote-left"></i></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel a eius excepturi molestias commodi aliquam error magnam consectetur laboriosam numquam, minima eveniet nostrum sequi saepe ipsam non ea, inventore tenetur! Corporis commodi consequatur molestiae voluptatum!</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="single-item">
                          <div class="row">
                              <div class="col-md-5">
                                  <div class="profile">
                                      <div class="img-area">
                                          <img src="img/2.jpg" alt="">
                                      </div>
                                      <div class="bio">
                                          <h2>Ruchita Deshmukh</h2>
                                          <h4>Meditation & Mantra Chanting</h4>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="content">
                                      <p><span><i class="fa fa-quote-left"></i></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel a eius excepturi molestias commodi aliquam error magnam consectetur laboriosam numquam, minima eveniet nostrum sequi saepe ipsam non ea, inventore tenetur! Corporis commodi consequatur molestiae voluptatum!</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="single-item">
                          <div class="row">
                              <div class="col-md-5">
                                  <div class="profile">
                                      <div class="img-area">
                                          <img src="img/3.jpg" alt="">
                                      </div>
                                      <div class="bio">
                                          <h2>Amisha Patel</h2>
                                          <h4>Private Lessons</h4>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="content">
                                      <p><span><i class="fa fa-quote-left"></i></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel a eius excepturi molestias commodi aliquam error magnam consectetur laboriosam numquam, minima eveniet nostrum sequi saepe ipsam non ea, inventore tenetur! Corporis commodi consequatur molestiae voluptatum!</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>

            </div>
        </div>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<b class="hr"></b>

<br><br>
</body>
</html>