<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yogshalaa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.green.min.css" integrity="sha512-C8Movfk6DU/H5PzarG0+Dv9MA9IZzvmQpO/3cIlGIflmtY3vIud07myMu4M/NTPJl8jmZtt/4mC9bAioMZBBdA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/intro-pic.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollTrigger.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="bg-image"></div>


<!--<div class="bg-text">-->
<!--    {% load static %}-->
<!--    <img class="intro-pic" src="{% static 'images/Chelsey.jpg' %}">-->
<!--  <h1>Experience the Healing Power of Yoga with Yogshalaa!</h1>-->
<!--  <p>Learn the subtle art of Yoga to feel the amazing change in your life.</p>-->
<!--    <p>Help me learn more about you by filling the following form</p>-->
<!--    <button><a href="https://formfaca.de/sm/Qq_X64okM">Click here!</a></button>-->
<!--</div>-->

<!--<div style="display: flex; justify-content: center; padding-top: 20px">-->
<!--    <script class="3d49bd6dd409fe0ae05239c697c14123"-->
<!--            src="https://w.promofeatures.com/js/timer/3d49bd6dd409fe0ae05239c697c14123.js?v=1683312139"></script>-->
<!--</div>-->
<b class="hr"></b>

<br><br>
<div id="about_us">
    <p>About Yogshalaa</p>
    <p>Yogshalaa is a Online Yoga Platform especially designed to indulge people around the Globe in practicing
        Yoga and Meditation- Whether if you are a busy mom looking for a quick Energy flow in the morning,
        or a beginner to brush up on the Basics of Yoga, or a traveler in a need to relax with a Yog Nidra.
        Whatever your level of Experience, Aspirations and Life Stage - We are here to create an Online Yoga Program for you.</p>

</div>
<b class="hr"></b>

<br><br>
<div class="wrapper">
<!--      <div class="container">-->
<!--        <i class="fas fa-utensils"></i>-->
<!--        <span class="num" data-val="400">0</span>-->
<!--        <span class="text">Meals Delivered</span>-->
<!--      </div>-->
      <div class="container">
        <i class="fas fa-smile-beam"></i>
        <span class="num" data-val="86">0</span>
        <span class="text">Happy Customers</span>
      </div>
      <div class="container">
        <i class="fas fa-list"></i>
        <span class="num" data-val="3">0</span>
        <span class="text">Programs offered</span>
      </div>
      <div class="container">
        <i class="fas fa-star"></i>
        <span class="num" data-val="17">0</span>
        <span class="text">Five Stars</span>
      </div>
</div>
    <!-- Script -->
{% load static %}
<script src="{% static 'js/script.js' %}"></script>

<div class="options">
    <div class="option active"
         style="--optionBackground:url(https://66.media.tumblr.com/6fb397d822f4f9f4596dff2085b18f2e/tumblr_nzsvb4p6xS1qho82wo1_1280.jpg);">
        <div class="shadow"></div>
        <div class="label">
            <div class="icon">
                <i class="fas fa-walking"></i>
            </div>
            <div class="info">
                <div class="main">Blonkisoaz</div>
                <div class="sub">Omuke trughte a otufta</div>
            </div>
        </div>
    </div>
    <div class="option"
         style="--optionBackground:url(https://66.media.tumblr.com/8b69cdde47aa952e4176b4200052abf4/tumblr_o51p7mFFF21qho82wo1_1280.jpg);">
        <div class="shadow"></div>
        <div class="label">
            <div class="icon">
                <i class="fas fa-snowflake"></i>
            </div>
            <div class="info">
                <div class="main">Oretemauw</div>
                <div class="sub">Omuke trughte a otufta</div>
            </div>
        </div>
    </div>
    <div class="option"
         style="--optionBackground:url(https://66.media.tumblr.com/5af3f8303456e376ceda1517553ba786/tumblr_o4986gakjh1qho82wo1_1280.jpg);">
        <div class="shadow"></div>
        <div class="label">
            <div class="icon">
                <i class="fas fa-tree"></i>
            </div>
            <div class="info">
                <div class="main">Iteresuselle</div>
                <div class="sub">Omuke trughte a otufta</div>
            </div>
        </div>
    </div>
    <div class="option"
         style="--optionBackground:url(https://66.media.tumblr.com/5516a22e0cdacaa85311ec3f8fd1e9ef/tumblr_o45jwvdsL11qho82wo1_1280.jpg);">
        <div class="shadow"></div>
        <div class="label">
            <div class="icon">
                <i class="fas fa-tint"></i>
            </div>
            <div class="info">
                <div class="main">Idiefe</div>
                <div class="sub">Omuke trughte a otufta</div>
            </div>
        </div>
    </div>
    <div class="option"
         style="--optionBackground:url(https://66.media.tumblr.com/f19901f50b79604839ca761cd6d74748/tumblr_o65rohhkQL1qho82wo1_1280.jpg);">
        <div class="shadow"></div>
        <div class="label">
            <div class="icon">
                <i class="fas fa-sun"></i>
            </div>
            <div class="info">
                <div class="main">Inatethi</div>
                <div class="sub">Omuke trughte a otufta</div>
            </div>
        </div>
    </div>
</div>
<b class="hr"></b>

<br><br>
<!--<div><form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Ln2iiY3wsolqGu" async> </script> </form></div>-->
<script src="{% static 'js/slit.js' %}"></script>
<div class="container">
    <div id="slider" class="owl-carousel">
        <div class="content-area">
            <div class="content">
                <div class="img-area">
                    <img src="" alt=""/>
                </div>
                <h2>
                    Someone famous
                </h2>
                <p>
                    Something
                </p>
            </div>
        </div>
        <div class="content-area">
            <div class="content">
                <div class="img-area">
                    <img src="" alt=""/>
                </div>
                <h2>
                    Someone famous 2
                </h2>
                <p>
                    Something 2
                </p>
            </div>
        </div>
        <div class="content-area">
            <div class="content">
                <div class="img-area">
                    <img src="" alt=""/>
                </div>
                <h2>
                    Someone famous 3
                </h2>
                <p>
                    Something 3
                </p>
            </div>
        </div>
    </div>
</div>
<script>

</script>
</body>
</html>